
{% block body %}
<div>{{"error.not_found"|trans}}</div>
<div class="response">
{{ status_code }} {{ status_text }}
</div>
<br>
	<a href="javascript:history.back()"><button class="button">{{"error.volver"|trans}}</button></a>
{% endblock %}
