{% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p><br>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="login100-form validate-form flex-sb flex-w">

    <span class="txt1 p-b-11">
        Nombre de usuario o email
    </span>
    <div class="wrap-input100 validate-input m-b-36" data-validate = "Username or email required">
        <input class="input100" type="text" id="username" placeholder="Nombre de usuario o email" name="_username" required="required">
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
            {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
        </button>
    </div>

</form>